@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* Custom Ruby Styling */
ruby {
  display: inline-flex;
  flex-direction: column-reverse;
  vertical-align: bottom;
  align-items: center;
  line-height: 1;
  margin: 0 2px;
}

rt {
  display: block;
  font-size: 0.5em; /* Kích thước chữ Kana nhỏ */
  line-height: 1;
  text-align: center;
  color: #89986D; /* Màu Kana (j-green-dark) */
  margin-bottom: 2px;
}

/* Trong chế độ Dark Mode hoặc nền tối */
.bg-slate-900 rt, .text-white rt {
    color: #9CA3AF; /* Màu xám sáng hơn */
}